In [25]:
# imports
import pandas as pd
from datetime import *

In [26]:
# read in intakes
intakes_df = pd.read_csv('../sourceData/intakes.csv')

In [27]:
# view data
intakes_df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [28]:
# using 24 hr time instead of 12 hr time
intakes_df['DateTime'] = intakes_df['DateTime'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y %I:%M:%S %p').strftime('%m/%d/%Y %H:%M'))
# changing col to datetime
intakes_df['DateTime'] = intakes_df['DateTime'].apply(pd.to_datetime)
# dropping the doubled col
intakes_df = intakes_df.drop(['MonthYear'], axis=1)
intakes_df.head()

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [29]:
# checking dtypes
intakes_df.dtypes

Animal ID                   object
Name                        object
DateTime            datetime64[ns]
Found Location              object
Intake Type                 object
Intake Condition            object
Animal Type                 object
Sex upon Intake             object
Age upon Intake             object
Breed                       object
Color                       object
dtype: object

In [30]:
# checking for nans
intakes_df.isnull().sum()

Animal ID               0
Name                40108
DateTime                0
Found Location          0
Intake Type             0
Intake Condition        0
Animal Type             0
Sex upon Intake         1
Age upon Intake         0
Breed                   0
Color                   0
dtype: int64

In [31]:
# looking at the null value in the 'Sex upon intake' col
intakes_df[intakes_df['Sex upon Intake'].isnull() == True]

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
21318,A667395,Diego,2013-11-17 13:15:00,Pflugerville (TX),Owner Surrender,Normal,Dog,NaN,7 years,Dachshund,Brown Merle

In [32]:
# changing the null value in the 'Sex upon intake' col to 'unknown'
intakes_df['Sex upon Intake'] = intakes_df['Sex upon Intake'].fillna(value = 'Unknown')
intakes_df[intakes_df['Sex upon Intake'].isnull() == True]

Empty DataFrame
Columns: [Animal ID, Name, DateTime, Found Location, Intake Type, Intake Condition, Animal Type, Sex upon Intake, Age upon Intake, Breed, Color]
Index: []

In [33]:
# changing the null values in the 'Name' col to 'unknown'
intakes_df['Name'] = intakes_df['Name'].fillna(value = 'Unknown')
intakes_df[intakes_df['Name'].isnull() == True]

Empty DataFrame
Columns: [Animal ID, Name, DateTime, Found Location, Intake Type, Intake Condition, Animal Type, Sex upon Intake, Age upon Intake, Breed, Color]
Index: []

In [34]:
# recheck for nans
# checking for nans
intakes_df.isnull().sum()

Animal ID           0
Name                0
DateTime            0
Found Location      0
Intake Type         0
Intake Condition    0
Animal Type         0
Sex upon Intake     0
Age upon Intake     0
Breed               0
Color               0
dtype: int64

In [35]:
# changing col names
intakes_df.columns = [
    'id', 'name_intake', 'dateTime_intake', 'loc_found', 'intake_type', 'intake_condition', 'animal_type', 
    'sex_intake', 'age', 'breed', 'colour'
]

In [36]:
intakes_df.head()

,id,name_intake,dateTime_intake,loc_found,intake_type,intake_condition,animal_type,sex_intake,age_intake,breed,colour
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,Unknown,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [37]:
# removing the unexplained asterisks
names = [x if x[0] != '*' else x[1:] for x in intakes_df['name_intake']]
intakes_df['name_intake'] = names
intakes_df.head()

,id,name_intake,dateTime_intake,loc_found,intake_type,intake_condition,animal_type,sex_intake,age_intake,breed,colour
0,A786884,Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,Unknown,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [38]:
# saving to processed folder
intakes_df.to_csv('../cleanedSources/intakeCleaned.csv', index = False)